OED.zip filter=lfs diff=lfs merge=lfs -text
SOED.zip filter=lfs diff=lfs merge=lfs -text
American_Heritage_Dictionary_4th_Ed.tar.gz filter=lfs diff=lfs merge=lfs -text
stardict-Dictionary_of_Phrase_and_Fable1.1-2.4.2.tar.bz2 filter=lfs diff=lfs merge=lfs -text
